<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="//eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/css/datepicker3.css">
  <style>
    textarea {width: 100%}
  </style>
  <title>Tabulate keyword frequency</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css"/>

</head>
<body>

<h1>Tabulate keyword frequency</h1>
<p>Compare the number of articles that contain the specified keywords across journals in <a href="http://www.ncbi.nlm.nih.gov/pubmed/" target=_blank>PubMed</a>.</p>
<p>Thanks to 
<a target=_blank href="https://github.com/salah93">Salah Ahmed</a> and
<a target=_blank href="https://www.linkedin.com/in/awadaahmed">Awad Ahmed</a>.
</p>

<form id=questions role=form>

  <div id=query_method_question class='form-group'>
    <div class="btn-group" data-toggle="buttons">
      <label id="query_method_guided" class="btn btn-default active"><input type="radio"> Guided query</label>
      <label id="query_method_custom" class="btn btn-default"><input type="radio"> Custom query</label>
      <label id="query_method_author" class="btn btn-default"><input type="radio">Author query</label>

    </div>
  </div>

<div id="guided_custom_query" style="margin-top: 0">
  
<div id=journal_names_question class='form-group'>
<label for=journal_names class=control-label>Journals</label>
<textarea id=journal_names class=form-control rows=3>
Nature
Science
</textarea>
</div>

</div>

<div id="guided_query" style="margin-top: 0">

<div id=text_terms_question class='form-group'>
<label for=text_terms class=control-label>Keywords</label>
<textarea id=text_terms class=form-control rows=3>
income
poverty
</textarea>
</div>

<div id=mesh_terms_question class='form-group'>
<label for=mesh_terms class=control-label>
<a href="http://www.ncbi.nlm.nih.gov/mesh" target="_blank">MeSH terms</a>
</label>
<textarea id=mesh_terms class=form-control rows=3>
social class
socioeconomic factors
</textarea>
</div>

</div>

<div id="custom_query" class="hidden" style="margin-top: 0">

<div id=custom_expression_question class='form-group'>
<label for=custom_expression class=control-label>Search expression</label>
<textarea id=custom_expression class=form-control rows=7>
"income"[Text Word] OR
"poverty"[Text Word] OR
"social class"[MeSH Terms] OR
"socioeconomic factors"[MeSH Terms]
</textarea>
</div>

</div>

<div id="author_query" class="hidden" style="margin-top: 0">

<div id=author_question class='form-group'>
<label for=author_names class=control-label>Authors</label>
<textarea id=author_names class=form-control rows=3>
Weinberger AH
</textarea>
</div>

</div>

<div id=date_range_question class="input-daterange input-group form-group">
<input class="form-control" type="text" data-provide="datepicker" value="01/01/2000" id="from_date" />
<span class="input-group-addon">to</span>
<input class="form-control" type="text" data-provide="datepicker" value="12/31/2010" id="to_date" />
</div>

<div id=date_interval_question class='form-group'>
<label for=date_interval_in_years class=control-label>Date interval in years</label>
<input class="form-control" id=date_interval_in_years value=2>
</div>
</form>

<div>
<button id=run type=button class='btn btn-primary'>Tabulate keywords</button>
</div>

<div id=results></div>

<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="//eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
<script>
  $(function(){
// turn the element to select2 select style
    $(#select2').select2();
  });
</script>

<script>
$('#query_method_guided').click(function() {
  $('#date_interval_question').removeClass('hidden').show();
  $('#guided_custom_query').removeClass('hidden').show();
  $('#custom_query').hide();
  $('#author_query').hide();
  $('#guided_query').removeClass('hidden').show();
  $('#text_terms').focus();
});

$('#query_method_custom').click(function() {
  $('#date_interval_question').removeClass('hidden').show();
  $('#guided_custom_query').removeClass('hidden').show();
  $('#guided_query').hide();
  $('#author_query').hide();
  $('#custom_query').removeClass('hidden').show();
  $('#custom_expression').focus();
});

$('#query_method_author').click(function() {
  $('#date_interval_question').hide();
  $('#guided_custom_query').hide();
  $('#guided_query').hide();
  $('#custom_query').hide();
  $('#author_query').removeClass('hidden').show();
  $('#author_names').focus();
});

$('#run').click(function() {
  $('#run').prop('disabled', true);
  $('#results').html('Querying...');

  if ($('#query_method_guided').hasClass('active')) {

    $.post('/run', {
      journal_names: $('#journal_names').val(),
      text_terms: $('#text_terms').val(),
      mesh_terms: $('#mesh_terms').val(),
      from_date: $('#from_date').val(),
      to_date: $('#to_date').val(),
      date_interval_in_years: $('#date_interval_in_years').val()
    }, function(data) {
      $('#results').html(data);
      $('#run').prop('disabled', false);
      $('#image').load(function() {
          window.scrollTo(0, document.body.scrollHeight);
      });
    });

    } else if($('#query_method_author').hasClass('active')) {
      $.post('/run', {
        author_names: $('#author_names').val(),
        from_date: $('#from_date').val(),
        to_date: $('#to_date').val(),
      }, function(data) {
        $('#results').html(data);
        $('#run').prop('disabled', false);
        $('#image').load(function() {
          window.scrollTo(0, document.body.scrollHeight);
        });
      }); 
    
    } else {

    $.post('/run', {
      journal_names: $('#journal_names').val(),
      custom_expression: $('#custom_expression').val(),
      from_date: $('#from_date').val(),
      to_date: $('#from_date').val(),
      date_interval_in_years: $('#date_interval_in_years').val()
    }, function(data) {
      $('#results').html(data);
      $('#run').prop('disabled', false);
      $('#image').load(function() {
          window.scrollTo(0, document.body.scrollHeight);
      });
    });

  }
});
$('#text_terms').focus();
</script>
</body>
</html>
