<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <style>
    textarea {width: 100%}
  </style>
  
  <!--- <title>jQuery UI Datepicker - Default functionality</title>-->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
 

</head>
<body>
<div id=request>
<b>Journals</b><br>
<textarea id="journals" rows=10>
Arthritis and Rheumatism
Pathology
</textarea><br>


<b>Keywords</b><br>
<select id="select" name="select">
  <option id="mesh" value="mesh">MeSh Terms</option> 
  <option id="text" value="text" selected>Text Word</option>
</select><br>



<textarea id="keywords" rows=10>
racial
socioeconomic
ethnic
</textarea><br>

<p>from: <input type="text" value="01/01/1999" id="from" class="datepicker"></p>
<p>to: <input type="text" value="12/31/2013" id="to" class="datepicker"></p>





<button class="btn btn-primary" id=run>Run</button>
<button class="btn btn-success" id=download>Download</button>
</div>
<div id=response></div>

<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script>
  var key
  
$('#mesh').click(function() {
  key = 'Text Word' 
});

$('#text').click(function() {
  key = 'MeSH Terms' 
});



$('#run').click(function() {
  $('#response').html('Querying...');
  $.post('/run', {
    journals: $('#journals').val(),
    keywords: $('#keywords').val(),
    from: $('#from').val(),
    to: $('#to').val(),
    key_val: $('#select').value
  }, function(data) {
    $('#response').html(data);
  });
});
$('#download').click(function() {
    window.location = '/results.zip';
});
$('#journals').focus();
</script>



 <script src="//code.jquery.com/jquery-1.10.2.js"></script>
 <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
 <script>
  $(function() {
    $( ".datepicker" ).datepicker();
  });
 </script>

</body>
</html>
